<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acl</key>
	<array>
		<string>Information about Access Control Lists (ACLs).</string>
		<string>ACL type</string>
		<string>ACL value field</string>
		<string>permissions associated with this ACL</string>
	</array>
	<key>arg</key>
	<array>
		<string>Information about the arguments to a system call: the argument number of the system call, the argument value, and an optional description. This token allows a 32-bit integer system-call argument in an audit record.

</string>
		<string>Argument ID for system call argument that token refers to</string>
		<string>argument value</string>
		<string>Length of the descriptive text string</string>
		<string>text string</string>
	</array>
	<key>argument</key>
	<array>
		<string>Information about the arguments to a system call: the argument number of the system call, the argument value, and an optional description. This token allows a 32-bit integer system-call argument in an audit record.

</string>
		<string>Argument ID for system call argument that token refers to</string>
		<string>argument value</string>
		<string>text string</string>
	</array>
	<key>attribute</key>
	<array>
		<string>Information from the file vnode.</string>
		<string>file access mode and type</string>
		<string>owner user ID</string>
		<string>owner group ID</string>
		<string>file system ID</string>
		<string>node ID</string>
		<string>device ID that the file might represent</string>
	</array>
	<key>cmd</key>
	<array>
		<string>Records the list of arguments and the list of environment variables that are associated with a command.</string>
		<string>count of the command&apos;s arguments</string>
		<string>argument list</string>
		<string>length of the next field</string>
		<string>content of the arguments</string>
		<string>count of the environment variables</string>
		<string>list of environment variables</string>
		<string>length of the next field</string>
		<string>content of the environment variables</string>
	</array>
	<key>exec_args</key>
	<array>
		<string>Records the arguments to an exec() system call</string>
		<string>number of arguments that are passed to the exec() system call</string>
	</array>
	<key>exec_env</key>
	<array>
		<string>Records the current environment variables to an exec() system call</string>
		<string>number of arguments that are passed to the exec() system call</string>
	</array>
	<key>file</key>
	<array>
		<string>Special token that is generated by the auditd daemon. The token marks the beginning of a new audit file and the end of an old audit file as the old file is deactivated. The initial file token identifies the previous file in the audit trail. The final file token identifies the next file in the audit trail. The auditd daemon builds a special audit record that contains this token to “link” together successive audit files into one audit trail.
</string>
	</array>
	<key>groups</key>
	<array>
		<string>Records the group entries from the process&apos;s credential.</string>
		<string>count that represents the number of groups that are contained in this audit record</string>
	</array>
	<key>header</key>
	<array>
		<string>Special in that it marks the beginning of an audit record. The header token combines with the trailer token to bracket all the other tokens in the record.</string>
		<string>byte count of the total length of the audit record, including both the header and the trailer tokens</string>
		<string>version number that identifies the version of the audit record structure</string>
		<string>audit event ID that identifies the audit event that the record represents</string>
		<string>ID modifier that identifies special characteristics of the audit event</string>
		<string>address type, either IPv4 or IPv6</string>
		<string>machine&apos;s IP address</string>
		<string>time and date that the record was created</string>
	</array>
	<key>in_addr</key>
	<array>
		<string>An Internet Protocol address.</string>
		<string>IP address type, either IPv4 or IPv6</string>
		<string>IP address</string>
	</array>
	<key>ipc</key>
	<array>
		<string>The System V IPC message handle, semaphore handle, or shared-memory handle that is used by the caller to identify a particular IPC object.</string>
		<string>type field that specifies the type of IPC object</string>
		<string>handle that identifies the IPC object</string>
	</array>
	<key>ipc_perm</key>
	<array>
		<string>A copy of the System V IPC access permissions. This token is added to audit records that are generated by IPC shared-memory events, IPC semaphore events, and IPC message events.</string>
		<string>user ID of the IPC owner</string>
		<string>group ID of the IPC owner</string>
		<string>user ID of the IPC creator</string>
		<string>group ID of the IPC creator</string>
		<string>access mode of the IPC</string>
		<string>sequence number of the IPC</string>
		<string>IPC key value</string>
	</array>
	<key>iport</key>
	<array>
		<string>The TCP or UDP port address.</string>
		<string>TCP or UDP port address</string>
	</array>
	<key>path</key>
	<array>
		<string>Access path information for an object.</string>
		<string>absolute path to the object that is based on the real root of the system</string>
	</array>
	<key>path_attr</key>
	<array>
		<string>Access path information for an object. The access path specifies the sequence of attribute file objects below the path token object. Systems calls such as openat() access attribute files.</string>
		<string>count that represents the number of sections of attribute file paths</string>
		<string>count null-terminated strings</string>
	</array>
	<key>privilege</key>
	<array>
		<string>Records the use of privileges on a process. The privilege token is not recorded for privileges in the basic set. If a privilege has been removed from the basic set by administrative action, then the use of that privilege is recorded.</string>
		<string>length of the following field</string>
		<string>name of privilege set</string>
		<string>length of the following field</string>
		<string>list of privileges</string>
	</array>
	<key>process</key>
	<array>
		<string>Information about a user who is associated with a process, such as the recipient of a signal</string>
		<string>audit ID</string>
		<string>effective user ID</string>
		<string>effective group ID</string>
		<string>real user ID</string>
		<string>real group ID</string>
		<string>process ID</string>
		<string>audit session ID</string>
		<string>terminal ID that consists of a device ID and a machine ID</string>
	</array>
	<key>return</key>
	<array>
		<string>The return status of the system call (u_error) and the process return value (u_rval1).</string>
		<string>error status of the system call</string>
		<string>return value of the system call</string>
	</array>
	<key>sequence</key>
	<array>
		<string>A sequence number. The sequence number is incremented every time an audit record is added to the audit trail. </string>
		<string>32-bit unsigned long field that contains the sequence number.</string>
	</array>
	<key>socket</key>
	<array>
		<string>Information that describes an Internet socket.</string>
		<string>socket type field that indicates the type of socket referenced, either TCP, UDP, or UNIX</string>
		<string>local port</string>
		<string>local IP address</string>
	</array>
	<key>socket-inet</key>
	<array>
		<string>Information that describes an Internet socket.</string>
		<string>socket type field that indicates the type of socket referenced, either TCP, UDP, or UNIX</string>
		<string>Port</string>
		<string>IP Address</string>
	</array>
	<key>subject</key>
	<array>
		<string>Describes a user who performs or attempts to perform an operation</string>
		<string>audit ID</string>
		<string>effective user ID</string>
		<string>effective group ID</string>
		<string>real user ID</string>
		<string>real group ID</string>
		<string>process ID</string>
		<string>audit session ID</string>
		<string>unknown</string>
		<string>terminal ID that consists of a device ID and a machine ID</string>
	</array>
	<key>text</key>
	<array>
		<string>A text string</string>
		<string>text string</string>
		<string>length of the text string</string>
	</array>
	<key>trailer</key>
	<array>
		<string>Ends an audit record</string>
		<string>pad number to aid in marking the end of the record</string>
		<string>total number of characters in the audit record, including both the header and trailer tokens</string>
	</array>
	<key>uauth</key>
	<array>
		<string>Use of authorization with a command or action</string>
		<string>length of the text in the following field</string>
		<string>list of authorizations</string>
	</array>
	<key>upriv</key>
	<array>
		<string>Use of privilege with a command or action</string>
	</array>
	<key>zonename</key>
	<array>
		<string> Zone in which the audit event occurred</string>
		<string>length of the text in the following field</string>
		<string>name of the zone</string>
	</array>
</dict>
</plist>
